{% extends 'base.html.twig' %}

{% block style %}{{ asset('css/registration/registration.css') }}{% endblock %}
{% block title %}Création de compte{% endblock %}

{% block body %}
    <h1>Nouvel utilisateur</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <button type="submit" class="btn">Valider</button>
    {{ form_end(registrationForm) }}
{% endblock %}
