*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*NavBar styling */
.navbar{
    position: fixed;
    width:100%;
    padding:15px 0;
    font-family:sans-serif;
    font-weight: 500;
    background : black;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 40px;
}

.navbar .logo a span{
    color: green;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-left:25px;
}

.navbar .menu li a:hover{
    color: green;
}

/*Message flash styling*/
.flash{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 3px 70px;
    border-radius: 6px;
    color: white;
    text-align: center;
}

.flash-success{
    background-color: green;
}

.flash-error{
    background-color: green;
}

/*Section styling*/
section{
    padding : 100px 0;
    font-family: sans-serif;
}

section h1{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-top: 30px;
    font-family: sans-serif;
}

/*Page créer une sortie styling */
.right{
    position: relative;
    margin-left: 800px;
    margin-top: -280px;
}

input,
textarea,
#sortie_campus,
#sortie_lieu,
#gerer_mon_profil_campus,
#campus
{

    padding: 7px;
    box-sizing : border-box;
    border: 1px solid grey;
    outline:none;
    border-radius:6px;
    margin: 5px;
}

label{
    margin-right: 20px;
    font-size: 25px;
    font-weight : 300;
}

#sortie_nom{
    margin-left: 105px;
}

#sortie_duree{
    margin-left: 154px;
}

#sortie_dateLimiteInscription{
    margin-left: 25px;
}

#sortie_nbInscriptionsMax{
    margin-left: 81px;
}

#sortie_infosSortie{
    margin-left: 70px;
}

#sortie_lieu{
    margin-left: 50px;
}

.button{
    margin-top: 230px;
    margin-left: 330px;
}

.button input{
    width: 20%;
    padding: 10px;
    margin: 15px auto;
    cursor:pointer;
    border:0;
    background-color: green;
    color:white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight : 300;
    text-decoration : none;
    border-radius:6px;
}

.button a{
    width: 20%;
    padding: 10px;
    margin: 50px auto;
    cursor: pointer;
    border: green solid 0px;
    background-color: green;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight : 300;
    text-decoration : none;
    border-radius:6px;

}

/*Page Annulation de sortie styling*/
.label{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: sans-serif;
    font-size: 20px;
}

.motif{
    display: flex;
    justify-content: center;
}

.motif label{
    font-size: 20px;
    display: flex;
}

.motif textarea{
    width: 300px;
    height: 150px;
    display: flex;
    position: relative;
    left: 70px;
    top: -25px;
}

.buttonAnnulerSortie{
    margin-left: 37%;
}

.buttonAnnulerSortie input{
    width: 20%;
    padding: 10px;
    margin: 15px auto;
    cursor:pointer;
    border:0;
    background-color: green;
    color:white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight : 300;
    text-decoration : none;
    border-radius:6px;
}
